<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday Card</title>
    <style>
        body {
            background-color: pink;
            text-align: center;
            font-family: "Times New Roman", sans-serif;
            line-height: 1.6;
            margin-left: 200px;
            margin-right: 200px;
        }
    </style>
</head>
<body>
    <h1>Happy Birthday</h1>
    <p>*Here you can write your wishes**</p>
    <script>
    </script>
</body>
</html>